return 408 error code when get proxy delay time out

I noticed that server will return 408 error code here:
https://github.com/Dreamacro/clash/blob/34338e7107c1868124f8aab2446f6b71c9b0640f/hub/route/proxies.go#L124

according to [RFC 7231](https://tools.ietf.org/html/rfc7231#section-6.5.7) :
> The 408 (Request Timeout) status code indicates that the server did
   not receive a complete request message within the time that it was
   prepared to wait.  A server SHOULD send the "close" connection option
   (Section 6.1 of [RFC7230]) in the response, since 408 implies that
   the server has decided to close the connection rather than continue
   waiting.  If the client has an outstanding request in transit, the
   client MAY repeat that request on a new connection.

I don't think we should return this error code here, maybe error code [504](https://tools.ietf.org/html/rfc7231#section-6.6.5) is more appropriate.

you are right, 4xx used in the request body error. fixed in 60fdd82.